In [15]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")


display(x_train.head())
display(y_train.head())

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

In [35]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# print(x_train.isna().sum().sum())
# print(x_test.isna().sum().sum())
y = y_train['price']

x_train_drop = x_train.drop(columns = ['carID'])
x_test_drop = x_test.drop(columns = ['carID'])

# test 데이터에 없는 model이 train 데이터에 존재.. 
# 한번에 합쳐서 예측 진행

combine = pd.concat([x_train_drop, x_test_drop])
combine_dum = pd.get_dummies(combine)
# print(combine_dum)
x_train_dum = combine_dum[:len(x_train_drop)]
x_test_dum = combine_dum[len(x_train_drop):]

X_train, X_val, Y_train, Y_val = train_test_split(x_train_dum, y, test_size = 0.3, random_state = 1) 

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(500, max_depth = 10, random_state = 1)
rf.fit(X_train, Y_train)

train_pred = rf.predict(X_train)
val_pred = rf.predict(X_val)

# import sklearn.metrics
# print(dir(sklearn.metrics))
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error, r2_score

print('mae :', mean_absolute_error(Y_train, train_pred), mean_absolute_error(Y_val, val_pred))
print('mape :', mean_absolute_percentage_error(Y_train, train_pred), mean_absolute_percentage_error(Y_val, val_pred))
print('mse :', mean_squared_error(Y_train, train_pred), mean_squared_error(Y_val, val_pred))
print('r2_score :', r2_score(Y_train, train_pred), r2_score(Y_val, val_pred))

test_pred = rf.predict(x_test_dum)

mae : 1798.1808477257832 2458.092369077886
mape : 0.0891094619200658 0.12432175216842611
mse : 7374704.862556286 20816040.38084862
r2_score : 0.9722000789408892 0.9251493004438546

In [36]:
test_pred

array([39701.11474546, 25773.56616149, 53852.80422548, ...,
       21024.76342403, 18753.58870487,  3956.98052529])