# 3.월드컵 출전선수 골기록 데이터

In [ ]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

21. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [ ]:
df[['Country', 'Goals']].groupby(['Country']).sum().sort_values(by = 'Goals', ascending = False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

22. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [ ]:
df.groupby(['Country']).size().sort_values(ascending=False).head()

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

23. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [ ]:
a = []
drop_index = []

for i in range(len(df['Years'].str.split('-'))):
    for k in range(len(df['Years'].str.split('-')[i])):
        if len(df['Years'].str.split('-')[i][k]) != 4:
            a.append(df['Years'].str.split('-')[i][k])
            drop_index.append(i)
            

print(len(a))
print(drop_index)

45
[71, 190, 210, 404, 505, 544, 622, 624, 625, 640, 651, 652, 662, 692, 699, 705, 713, 749, 803, 807, 825, 835, 837, 841, 854, 856, 895, 899, 913, 952, 959, 963, 967, 985, 1025, 1067, 1070, 1119, 1127, 1134, 1169, 1188, 1214, 1216, 1268]

24. **Q23에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다) **

In [ ]:
for i in drop_index:
    df.drop(index = i, inplace=True)

In [ ]:
len(df)

1250

25.월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [ ]:
df.reset_index(drop = True, inplace = True)

In [ ]:
LenCup = []

for i in range(len(df)):
    LenCup.append(len(df['Years'].str.split('-')[i]))

print(LenCup)

[4, 3, 2, 1, 4, 3, 1, 3, 2, 2, 2, 3, 3, 1, 3, 2, 3, 4, 3, 2, 2, 1, 3, 4, 1, 2, 2, 3, 2, 2, 2, 3, 2, 2, 3, 4, 3, 3, 4, 1, 2, 2, 3, 2, 1, 2, 1, 4, 3, 4, 1, 3, 2, 1, 2, 2, 3, 3, 3, 3, 1, 1, 2, 2, 3, 2, 2, 3, 3, 2, 2, 2, 2, 1, 2, 2, 3, 3, 3, 2, 1, 1, 2, 1, 1, 2, 3, 2, 3, 1, 3, 1, 2, 3, 2, 2, 3, 3, 2, 1, 2, 3, 1, 2, 1, 2, 1, 1, 1, 3, 3, 1, 1, 1, 3, 2, 3, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 3, 2, 3, 2, 2, 1, 2, 2, 1, 1, 2, 3, 1, 2, 1, 2, 1, 3, 1, 2, 1, 2, 1, 1, 3, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 4, 1, 2, 3, 1, 3, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, 1, 3, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 1, 2, 1, 2, 1, 2, 1, 2, 4, 3, 4, 1, 1, 2, 1, 1, 3, 1, 4, 3, 1, 2, 2, 3, 1, 1, 3, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, 1, 2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 3, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 1, 3, 2, 1, 2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 3, 1, 1, 1, 2, 3, 1, 1, 1, 1, 2, 2, 2, 1, 3, 3, 2, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 3, 2, 2, 2, 2, 2, 1, 1, 3, 1, 2, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 3, 1, 1, 1, 1, 2, 4, 3, 1, 1, 2, 3, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 3, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 4, 3, 1, 1, 2, 2, 3, 1, 1, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 3, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 3, 1, 3, 2, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 3, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 4, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 3, 3, 1, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 3, 1, 2, 1, 2, 1, 2, 1, 3, 1, 1, 1, 1, 2, 3, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 3, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 3, 1, 3, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2]

In [ ]:
df['LenCup'] = LenCup

In [ ]:
len(df[df['LenCup'] == 4]['Player'])

16

26. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [ ]:
len(df[(df['Country'] == 'Yugoslavia') & (df['LenCup'] == 2)])

7

27.2002년도에 출전한 전체 선수는 몇명인가?

In [ ]:
df['Years'].str.contains("2002").sum()

156

In [ ]:
tt = []
for i in range(len(df)):
    for k in range(len(df['Years'].str.split('-')[i])):
        if df['Years'].str.split('-')[i][k] == '2002':
            # print(df['Years'].str.split('-')[i][k])
            tt.append(i)

print(len(tt))

df.loc[tt]

156

                 Player  Goals                Years    Country  LenCup
0        Miroslav Klose     16  2002-2006-2010-2014    Germany       4
1               Ronaldo     15       1998-2002-2006     Brazil       3
7     Gabriel Batistuta     10       1994-1998-2002  Argentina       3
20      Christian Vieri      9            1998-2002      Italy       2
26              Rivaldo      8            1998-2002     Brazil       2
...                 ...    ...                  ...        ...     ...
1187      Alvaro Recoba      1                 2002    Uruguay       1
1189    Dario Rodriguez      1                 2002    Uruguay       1
1200       Clint Mathis      1                 2002        USA       1
1202       John O Brien      1            2002-2006        USA       2
1203     Earnie Stewart      1       1994-1998-2002        USA       3

[156 rows x 5 columns]

28.이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [ ]:
len(df[df['Player'].str.lower().str.contains('carlos')])

13

29. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [ ]:
a = df[df['LenCup'] == 1].sort_values('Goals', ascending=False).head(1)['Player'].values[0]
print(a)

Just Fontaine

30. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [ ]:
df[df['LenCup'] == 1]['Country'].value_counts().head(1).index[0]

'Brazil'