# 7.포켓몬 정보 데이터

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

61. Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [7]:
A = df[df['Legendary'] == True]['HP'].mean()
B = df[df['Legendary'] == False]['HP'].mean()
print(A-B)

25.55614861329147

62. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [12]:
df['Type 2'].value_counts().index[0]

'Flying'

63. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [22]:
A = df[df['Type 1'] == df['Type 1'].value_counts().index[0]]['Attack'].mean()
B = df[df['Type 1'] == df['Type 1'].value_counts().index[0]]['Defense'].mean()
print(A/B)

1.0165238678090576

64. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [37]:
df[df['Legendary'] == 1]['Generation'].value_counts()

3    18
5    15
4    13
6     8
1     6
2     5
Name: Generation, dtype: int64

65. ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [43]:
df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr()

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack   0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense  0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk  0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def  0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed    0.175952  0.381240  0.015227  0.473018  0.259133  1.000000

66. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [49]:
df.sort_values(by = ['Generation', 'Attack']).groupby('Generation').head(3).reset_index(drop = True)['Attack'].mean()

19.5

67. 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [57]:
df.sort_values(by = ['Generation', 'Attack'], ascending = False).groupby('Generation').head(5)['Attack'].mean()

157.23333333333332

68. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [61]:
# df['total'] = df['Type 1'] + '_' + df['Type 2']
df['total'].value_counts()

Normal_Flying    24
Grass_Poison     15
Bug_Flying       14
Bug_Poison       12
Ghost_Grass      10
                 ..
Bug_Water         1
Grass_Dragon      1
Psychic_Grass     1
Water_Steel       1
Fire_Water        1
Name: total, Length: 136, dtype: int64

69. 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [74]:
A = df[['Type 1', 'Type 2']].value_counts() == 1
A[A==1].sum()

39

70. 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [113]:
A = df[['total', 'Generation']].value_counts()
A

total            Generation
Ghost_Grass      6             10
Grass_Poison     1             10
Normal_Flying    1              9
Bug_Poison       1              6
Steel_Psychic    3              5
                               ..
Grass_Ground     4              1
Grass_Poison     3              1
Ground_Electric  5              1
Ground_Fire      3              1
Water_Steel      4              1
Length: 212, dtype: int64