### test 데이터에 대해서 neutral or dissatisfied라고 예측할 확률을 구하고 그 확률 값을 제출하라

In [20]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

   ID             satisfaction
0   0  neutral or dissatisfied
1   2  neutral or dissatisfied
2   3                satisfied
3   4                satisfied
4   5                satisfied

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

y = y_train['satisfaction']

x_train['Arrival Delay in Minutes'] = x_train['Arrival Delay in Minutes'].fillna(x_train['Arrival Delay in Minutes'].mean())
x_test['Arrival Delay in Minutes'] = x_test['Arrival Delay in Minutes'].fillna(x_test['Arrival Delay in Minutes'].mean())
# print(x_train.info())

x_train_drop = x_train.drop(columns = ['ID', 'id'])
x_test_drop = x_test.drop(columns = ['ID', 'id'])

x_trian_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)

scaler = MinMaxScaler()
x_train_scaler = scaler.fit_transform(x_trian_dum)
x_test_scaler = scaler.transform(x_test_dum)
x_train_scaler = pd.DataFrame(x_train_scaler)
x_test_scaler = pd.DataFrame(x_test_scaler)

X_train, X_val, Y_train, Y_val = train_test_split(x_train_scaler, y, test_size = 0.3, random_state = 1)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(500, max_depth = 10, random_state = 1)
rf.fit(X_train, Y_train)

# print(rf.classes_)
# rf.classes_로 ['neutral or dissatisfied', 'satisfied']와 같이 0번째 레이블, 1번째 레이블 확인 가능
# 'neutral or dissatisfied'의 경우 0번째 -> 'neutral or dissatisfied'확률 : train_proba[:,0]

train_label = rf.predict(X_train)
train_proba = rf.predict_proba(X_train)[:,1]

val_label = rf.predict(X_val)
val_proba = rf.predict_proba(X_val)[:,1]

from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score
print('accuracy_score :', accuracy_score(train_label, Y_train), accuracy_score(val_label, Y_val))
print('f1_score :', f1_score(train_label, Y_train, pos_label = 'neutral or dissatisfied'), f1_score(val_label, Y_val, pos_label = 'neutral or dissatisfied'))
print('precision_score :', precision_score(train_label, Y_train, pos_label = 'neutral or dissatisfied'), precision_score(val_label, Y_val, pos_label = 'neutral or dissatisfied'))
print('recall_score :', recall_score(train_label, Y_train, pos_label = 'neutral or dissatisfied'), recall_score(val_label, Y_val, pos_label = 'neutral or dissatisfied'))
# print('roc_auc_score :', roc_auc_score(train_proba, Y_train), roc_auc_score(val_proba, Y_val))

test_proba = rf.predict_proba(x_test_scaler)[:,0]

df = pd.DataFrame({'ID':x_test['ID'], 'satisfaction':test_proba})
df.to_csv('00000000.csv', index = False)

accuracy_score : 0.9518440862063039 0.9467056983598668
f1_score : 0.957749027413372 0.9532486720371478
precision_score : 0.9630640465793304 0.9590854392298436
recall_score : 0.952492351988483 0.9474825174825174

In [56]:
df

           ID  satisfaction
0           1      0.760568
1          16      0.948519
2          17      0.992630
3          25      0.936930
4          27      0.469206
...       ...           ...
20776  103895      0.839885
20777  103896      0.989722
20778  103897      0.007628
20779  103900      0.961843
20780  103902      0.869042

[20781 rows x 2 columns]

### test 데이터에 대해서 neutral or dissatisfied라고 예측할 확률을 구하고 그 확률 값을 제출하라

In [3]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/x_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,id
0,0,Female,Loyal Customer,54,Personal Travel,Eco,1068,3,4,3,...,5,5,3,5,3,5,3,47,22.0,NaN
1,2,Male,Loyal Customer,20,Personal Travel,Eco,1546,4,4,4,...,4,3,3,4,4,4,4,5,2.0,NaN
2,3,Male,Loyal Customer,59,Business travel,Business,2962,0,4,0,...,1,1,1,1,5,1,4,54,46.0,NaN
3,4,Male,Loyal Customer,35,Business travel,Eco Plus,106,5,4,4,...,5,2,1,5,4,4,5,130,121.0,NaN
4,5,Female,Loyal Customer,9,Business travel,Business,2917,3,3,3,...,4,4,4,5,4,3,4,0,0.0,NaN

   ID             satisfaction
0   0  neutral or dissatisfied
1   2  neutral or dissatisfied
2   3                satisfied
3   4                satisfied
4   5                satisfied

In [6]:
from sklearn.model_selection import train_test_split

# print(x_train.isna().sum())
# print(x_test.isna().sum())

x_train['Arrival Delay in Minutes'] = x_train['Arrival Delay in Minutes'].fillna(x_train['Arrival Delay in Minutes'].mean())
x_test['Arrival Delay in Minutes'] = x_test['Arrival Delay in Minutes'].fillna(x_test['Arrival Delay in Minutes'].mean())

x_train_drop = x_train.drop(columns = ['ID', 'id'])
x_test_drop = x_test.drop(columns = ['ID', 'id'])

x_trian_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)

y = y_train['satisfaction']

X_train, X_val, Y_train, Y_val = train_test_split(x_trian_dum, y, test_size = 0.3, random_state = 1)

from sklearn.ensemble import RandomForestClassifier

# print(Y_train)

rf = RandomForestClassifier(500, max_depth = 10, random_state = 1)
rf.fit(X_train, Y_train)

train_exp = rf.predict(X_train)
train_proba = rf.predict_proba(X_train)[:,0]

val_exp = rf.predict(X_val)
val_proba = rf.predict_proba(X_val)[:,0]

# print(train_exp)
# print(train_proba)

from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
# print(dir(sklearn.metrics))

# print(rf.classes_)

print("accuracy_score :", accuracy_score(train_exp, Y_train), accuracy_score(val_exp, Y_val))
print("f1_score :", f1_score(train_exp, Y_train, pos_label = 'neutral or dissatisfied'), f1_score(val_exp, Y_val, pos_label = 'neutral or dissatisfied'))
print("precision_score :", precision_score(train_exp, Y_train, pos_label = 'neutral or dissatisfied'), precision_score(val_exp, Y_val, pos_label = 'neutral or dissatisfied'))
print("recall_score :", recall_score(train_exp, Y_train, pos_label = 'neutral or dissatisfied'), recall_score(val_exp, Y_val, pos_label = 'neutral or dissatisfied'))

['neutral or dissatisfied' 'satisfied']
accuracy_score : 0.9518612724710411 0.9466655973052092
f1_score : 0.9577647431354513 0.953215140002814
precision_score : 0.9630943716642406 0.9590854392298436
recall_score : 0.9524937768047266 0.9474162645968813